@charset "UTF-8";

@media screen and (max-width:600px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        align-items: center;
    }

    header h1 {
        display: block;
        font-size: 1.8rem;
        align-self: left;
    }

    header div#grouping {
        display: none;
    }

    header span {
        display: block;
        color: #fff;
    }

    div#banner{
        height: 200px !important;
        background-size: cover !important;
        background-position:center bottom !important;
    }

    footer div#cabecalho-footer{
        display: flex !important;
        flex-direction: column !important;
        row-gap: 10px !important;
        align-items: flex-start !important;
        justify-content: center !important;
    }

    footer div#list-footer {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: self-start !important;
    }

    footer div#list-footer ul{
        margin: 7px !important;
    }
}

@media screen and (min-width:600px) and (max-width:894px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        align-items: center;
        padding: 40px;
    }

    header h1 {
        display: block;
        font-size: 1.8rem;
        align-self: left;
    }

    header div#grouping {
        display: none;
    }

    header span {
        display: block;
        color: #fff;
    }

    main img{
        height: 550px ;
    }

    
    footer div#cabecalho-footer{
        display: flex !important;
        flex-direction: row !important;
        row-gap: 10px !important;
        align-items: flex-start !important;
        justify-content: center !important;
    }

    footer div#list-footer {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: self-start !important;
    }

    footer div#list-footer ul{
        margin: 7px !important;
    }
}

@media screen and (min-width:895px) {
    header span{
        display: none;
    }

    main img{
        height: 550px ;
    }
}
