@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

header {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;
}

header h1 {
    letter-spacing: 2px;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin-right: 22px;
    transition: all 1.2s ease-in;
}

header a {
    text-decoration: none;
    color: rgb(136, 136, 139);
    letter-spacing: 2px;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

header a:hover {
    color: #fff;
}

header #grouping {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}

header #grouping #social {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
}

header #grouping #social button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #333;
    border: 1px solid rgb(156, 146, 146);
    text-align: center;
    padding: 4px 5px;
}

header #grouping #social i {
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

header #mode-light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

header div#login button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 8px 25px;
    text-align: center;
    color: #fff;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

header div#login button:hover {
    background-color: #fff;
    color: #000;
    border: none;
}

header div#login a {
    color: #fff;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

header #burger-menu {
    font-size: 1.4rem;
}

aside#menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    width: 0px;
    height: 100vh;
    background-color: #000;
}

aside#menu-lateral #bloco-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    color: #fff;
}

aside#menu-lateral #bloco-menu #menu-button {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

aside#menu-lateral #bloco-menu #menu-button button {
    background-color: transparent;
    border: none;
}

aside#menu-lateral #bloco-menu #menu-button i {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

aside#menu-lateral #bloco-menu #menu-button #buttonl {
    display: none;
}

aside#menu-lateral span i {
    font-size: 1.5rem;
    cursor: pointer;
}

aside#menu-lateral ul {
    padding: 80px 90px;
    margin-right: 15px;
}

aside#menu-lateral li {
    margin: 25px 10px;
}

aside#menu-lateral a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #beb6b6;
    letter-spacing: 1px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

aside#menu-lateral a:hover {
    color: #fff;
}

aside#menu-lateral #button-lateral button {
    padding: 5px 12px;
    background-color: rgb(0, 102, 255);
    border: none;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

div#banner {
    position: relative;
    width: 100%;
    height: 420px;
    background-image: url(../images/img-banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

div#banner aside#texto-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.314);
    filter: opacity(14px);
    height: auto;
    width: auto;
    line-height: 320px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 450;
    border-radius: 3px;
}

main {
    max-width: 1200px;
    min-width: none;
    display: block;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    line-height: 2em;
    padding: 35px;
    overflow: hidden;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0px;
}

main img {
    display: block;
    margin: auto;
    width: 100%;
    object-Fit: contain;
}

main p {
    text-align: justify;
}

footer {
    background-color: #000;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
}

footer div#cabecalho-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer div#cabecalho-footer h1 {
    letter-spacing: 2px;
    color: #fff !important;
}

footer div#cabecalho-footer ul {
    list-style: none;
}

footer div#cabecalho-footer li {
    display: inline;
    margin-right: 5px;
}

footer div#cabecalho-footer a {
    text-decoration: none;
    color: #fff;
}

footer div#cabecalho-footer img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

footer div#list-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer div#list-footer h2 {
    margin-bottom: 15px;
}

footer div#list-footer ul {
    list-style: none;
}

footer div#list-footer li {
    margin: 3px;
}

footer div#list-footer a {
    text-decoration: none;
    color: #ada3a3;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

footer div#list-footer a:hover {
    color: #fff;
}